/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/out
/.repl
*.log
/.env
/.idea
/lib
figwheel_server.log
*.iml
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
*#
.#*
#/src
svc/dev-resources/
/test
