target
!resources
resources/*
!resources/public
resources/public/js/*
!resources/public/js/bootstrap-submenu
resources/public/css/bootstrap
.lein-*
.idea
lib
*.log
*.pid
*.iml
*#
.#*
nohup.out
profiles.clj
config.edn
.nrepl-port
.AppleDouble
