/target
/resources/public/css
/resources/public/js
/resources/bookmarks.edn
/.lein-*
/.idea
/lib
*.log
*.pid
*.iml
*.rdb
*.jar
*#
.#*
*~
.*~
profiles.clj
config.edn
auth_privkey.pem
.nrepl-port
.AppleDouble
.DS_Store
.clj-kondo/cache/
.clj-kondo/.cache/
.lsp/sqlite.*.db
/out
node_modules/
public/js
/checkouts
/src/gen
pom.xml
pom.xml.asc
.shadow-cljs
.nrepl-*
.DS_Store
